header{
    background-color: #F3339B;
    color: whitesmoke;
    text-align: center;
    border-bottom: 2px solid pink;
    height: 80px;
}
.logo{
    float: left;
    width: 80px;
}
h1{
    padding: 0;
    margin: 0;
}

@keyframes anim {
    50%{
        transform:rotate(1turn) ;
        
    }
    100%{
        transform:scale(1.1) ;
    }

}
.logo:hover{
    cursor: pointer;
    animation: anim 1s ease-in-out;
}
